{% load js_include %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}{% if site %} - {{ site }}{% endif %}</title>
    <meta name="keywords" content="{% spaceless %}{% block metaKeywords %}{% endblock %}{% endspaceless %}">
    <meta name="description" content="{% spaceless %}{% block metaDescription %}{% endblock %}{% endspaceless %}">
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
{% block rssFeeds %}
<link rel="alternate" type="application/rss+xml" title="gareth53.co.uk - Latest Blog Posts" href="/blog/rss/posts.xml">
<link rel="alternate" type="application/rss+xml" title="The Nick and Gareth Podcast - Latest Episodes" href="/podcast/podcast-feed.xml">
{% endblock %}

{% block cssIncludes %}{% endblock %}

{% block ieCssIncludes %}{% endblock %}

{% block headJsIncludes %}{% endblock %}

</head>
<body class="{% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}">
<script type="text/javascript">
document.body.className = ((document.body.className) ? document.body.className + ' js' : 'js');
</script>

{% block htmlBody %}{%endblock%}





{% block tracking %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-527902-3");
pageTracker._initData();
pageTracker._trackPageview();
</script>

{% endblock %}

{% block footJsIncludes %}
	{% js_include %}
{% endblock %}

</body>
</html>